@import (inline) "../css/normalize.css";

/* apply a natural box layout model to all elements */
*, *:before, *:after {
  -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box;
}

html, body {
    max-width: 100%;
    overflow-x: hidden;
}

body {
    background-color: #FFFFFF;
    color: #2F2F2F;
    font-size: 2em;
    pointer-events: none;
}

a, iframe {
    pointer-events: auto;
}

#header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1001;
    height: 3em;
    line-height: 2em;
}

#header div {
    height: 100%;
    width: auto;
    height: 2em;
    margin: 0.5em 1em;
}

#header img {
    display: inline-block;
    vertical-align: middle;
    height: 100%;
    width: auto;
}

#kickstarter-logo img {
    display: inline-block;
    vertical-align: middle;
    height: 50%;
    width: auto;
}

#header span {
    display: inline-block;
    vertical-align: middle;
    font-weight: 100;
    color: #FFF;
    font-size: .8em;
}

#sub-header {
    background-color: #3f3f3f;
    height: 2.6em;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 999;
}

#video-header {
    background-color: #2f2f2f;
    border-bottom: 10px solid #3f3f3f;
    z-index: 999;
}

#photo-gallery {
    background-color: #2f2f2f;
    float: left;
    height: auto;
    -webkit-transform: translateZ(600px);
    z-index: 1000;
}

#photo-gallery div {
    float: left;
    width: 20%;
    margin-left: 4%;
    margin-top: 4%;
}

#photo-gallery img {
    width: 100%;
    height: 90%;
    border-radius: 0.3em;
}

#photo-gallery .footer {
    width: 100%;
    height: 3em;
}

.rain {
    position: absolute;
    top: 0;
    left: 0;
    width: 30%;
    height: 20%;
    margin-left: -15%;
    -webkit-transform-origin: center;
}

.rain img {
    -webkit-transform-origin: center;
}

#video-header iframe {
    position: absolute;
    top: 50%;
    left: 50%;
    margin-left: -350px;
    margin-top: -204px;
    border: 10px solid white;
}

#cash-container {
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    /*-webkit-transform: translateZ(-900px);*/
    opacity: 1;
    background-color: transparent;
}

#card-container {
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    /*-webkit-transform: translateZ(-800px);*/
    opacity: 1;
    background-color: transparent;
}

#panel {
    position: fixed;
    margin: 0 auto;
    text-align: center;
    top: 50%;
    left: 50%;
    -webkit-transform: scale(0.5) translateY(2000px) translateZ(0px);
}

#panel div {
    position: absolute;
}

/* TODO: This already looks pretty cool, but it definitely needs to be perfected */
.profile {
    height: 135%;
    width: 11.7%;
    left: 50%;
    margin-left: -5.85%;
    margin-top: -13.25%;
    -webkit-backface-visibility: hidden;
}

#cards-profile {
    position: absolute;
    -webkit-transform: rotateX(90deg) rotateZ(90deg);
    height: 171.6%;
    bottom: 14%;
    left: 43.9%;
}

#side-panel img {
    position: absolute;
    top: 0;
    left: 0;
}

#panel .panel {
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden;
}

#back-panel {
    -webkit-transform: rotateY(180deg);
}

#panel .band {
    width: 100%;
    top: 50%;
    margin-top: -7%;
    -webkit-transform: translateZ(7px);
    /*-webkit-backface-visibility: hidden;*/
}

#panel #back-band {
    -webkit-transform: rotateY(180deg) translateZ(16px);
}

.cash {
    height: 96%;
    width: 169%;
    top: 2%;
    left: -77%;
    -webkit-transform: translateX(-5000px) translateZ(5px); /* Arbitrary, just move them off the screen */
    -webkit-backface-visibility: hidden;
}

.cashImgRight {
    position: absolute;
    top: 0;
    right: 0;
}

.cashImgLeft {
    position: absolute;
    top: 0;
    left: 1px;
    -webkit-transform-origin: center right;
}

.card {
    height: 79%;
    width: 96%;
    top: 10.5%;
    left: 2%;
    -webkit-transform: rotateY(180deg) translateX(-5000px) translateZ(1px);
}

.card img {
    -webkit-transform: rotateZ(180deg);
}

#coin-card {
    -webkit-transform: rotateY(180deg) translateX(-5000px) translateZ(-1px);
}

#credit-card {
    -webkit-transform: rotateY(180deg) translateX(-5000px) translateZ(-2px);
}

#bank-card {
    -webkit-transform: rotateY(180deg) translateX(-5000px) translateZ(-3px);
}

#transit-card {
    -webkit-transform: rotateY(180deg) translateX(-5000px) translateZ(-4px);
}

#insurance-card {
    -webkit-transform: rotateY(180deg) translateX(-5000px) translateZ(-5px);
}

#drivers-license-card {
    -webkit-transform: rotateY(180deg) translateX(-5000px) translateZ(-29px);
}

#cash1 {
    -webkit-transform: translateX(-5000px) translateZ(1px);
}

#cash2 {
    -webkit-transform: translateX(-5000px) translateZ(2px);
}

#cash3 {
    -webkit-transform: translateX(-5000px) translateZ(3px);
}

#cash4 {
    -webkit-transform: translateX(-5000px) translateZ(4px);
}

#cash5 {
    -webkit-transform: translateX(-5000px) translateZ(5px);
}

.copy {
    background-color: rgba(245, 245, 245, 0.8);
    border-bottom: 0.2em solid #2f2f2f;
    text-shadow: 0px 0px 1em #FFFFFF;
    padding: 1em;
    position: absolute;
    text-align: center;
    -webkit-transform: translateZ(999px);
}

.body {
    font-weight: 100;
    font-size: 1em;
}

.title {
    width: 100%;
    font-size: 1.4em;
    font-weight: 500;
}

#make-it-rain .copy, #make-it-rain-harder .copy {
    top: 33%;
    margin-top: -1em;
}

#make-it-rain .copy, #make-it-rain-harder .copy, #title-card .copy {
    font-size: 2em;
    background-color: transparent;
    border-bottom: none;
    text-shadow: 0px 1px 1px #FFFFFF, 0px 0px 10px #FFFFFF;
}

#title-card .copy {
    margin-top: 3.5em;
}

#photo-gallery .copy {
    display: inline-block;
    width: 100%;
    background-color: transparent;
    color: #FFF;
    position: relative;
    margin: 0;
    text-shadow: none;
    font-size: 1.2em;
    font-weight: 100;
    height: 3em;
    line-height: 2em;
    border-bottom: none;
    padding: 0.5em;
    vertical-align: middle;
    margin-top: 2em;
}

.center {
    width: 50%;
    left: 50%;
    margin-left: -25%;
}

.right {
    width: 50%;
    right: 0;
    text-align: left;
}

.right div {
    margin-right: 1em;
}

.left {
    width: 50%;
    left: 0;
    text-align: right;
    padding-left: 1em;
}

#tagline {
    position: fixed;
    top: 100%;
    width: 100%;
    opacity: 0;
    text-align: center;
}

#rfid-container {
    position: fixed;
    text-align: center;
    top: 50%;
    left: 50%;
}

#rfid-container div {
    position: absolute;
}

#rfid1 {
    height: 16%;
    width: 10%;
    right: 0;
    top: 50%;
    margin-top: -7%;
    opacity: 0;
}

#rfid2 {
    height: 40%;
    width: 17%;
    left: 50%;
    top: 50%;
    margin-left: -5%;
    margin-top: -16%;
    opacity: 0;
}

#rfid3 {
    height: 100%;
    width: 25.4%;
    left: 0;
    opacity: 0;
}

#jeans {
    position: fixed;
    bottom: 0;
    left: 50%;
    width: 50%;
    opacity: 0;
    -webkit-transform: translateZ(-500px);
}

#jeans-pocket {
    position: fixed;
    bottom: 0;
    left: 50%;
    width: 50%;
    opacity: 0;
    -webkit-transform: translateZ(500px);
}

.scene {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    /*border: 1px solid red;*/
}

.actor {
    -webkit-transform-origin: center;
    -webkit-transform-style: preserve-3d;
}

.cashImgLeft {
    -webkit-backface-visibility: hidden;
    -webkit-transform-origin: center right;
}

#logo {
    float: left;
    -webkit-transform-origin: left top;
}

#kickstarter-logo {
    float: right;
    -webkit-transform-origin: right top;
}