@font-face {
  font-family: 'BlairITC';
  src: url('../assets/fonts/BlairITC TT Light.ttf') format('truetype');
}

body {
    background-color: #FFFFFF;
    color: #2F2F2F;
    font-size: 3em;
}

#panel {
    position: fixed;
    margin: 0 auto;
    text-align: center;
    top: 50%;
    left: 50%;
    -webkit-transform: scale(5) translateZ(0);
    -webkit-transform-style: preserve-3d;
}

#panel div {
    position: fixed;
}

#panel .panel {
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden;
}

#back-panel {
    -webkit-transform: rotateY(180deg);
}

#panel .band {
    width: 100%;
    top: 50%;
    margin-top: -7%;
    -webkit-transform: translateZ(2px);
}

#panel #back-band {
    -webkit-transform: rotateY(180deg) translateZ(2px);
}

.cash {
    height: 96%;
    width: 84.5%;
    top: 2%;
    left: 7.75%;
    -webkit-transform: translateX(-5000px) translateZ(1px); /* Arbitrary, just move them off the screen */
}

.card {
    height: 79%;
    width: 96%;
    top: 10.5%;
    left: 2%;
    -webkit-transform: rotateY(180deg) translateX(-5000px) translateZ(1px);
}

.card img {
    -webkit-transform: rotateZ(180deg);
}

#cashImg1 {
    -webkit-transform: rotate(12deg);
}
#cashImg2 {
    -webkit-transform: rotate(6deg);
}
#cashImg3 {
    -webkit-transform: rotate(1deg);
}
#cashImg4 {
    -webkit-transform: rotate(-7deg);
}
#cashImg5 {
    -webkit-transform: rotate(-11deg);
}

#tagline {
    position: fixed;
    top: 100%;
    width: 100%;
    opacity: 0;
    text-align: center;
    font-family: 'BlairITC', 'sans-serif';
}

#crisp {
    position: fixed;
    top: 0%;
    width: 50%;
    right: 0%;
    opacity: 0;
    text-align: center;
    font-family: 'BlairITC', 'sans-serif';
    font-weight: bold;
}

#flexible {
    position: fixed;
    top: 0%;
    width: 50%;
    left: 0%;
    opacity: 0;
    text-align: center;
    font-family: 'BlairITC', 'sans-serif';
    font-weight: bold;
}

.scene {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    font-family: 'BlairITC', 'sans-serif';
    /*border: 1px solid red;*/
}

.actor {
    -webkit-transform-origin: center;
    -webkit-transform-style: preserve-3d;
}